[submodule "extern/luafun"]
	path = extern/luafun
	url = https://github.com/luafun/luafun.git
[submodule "extern/luajit_tcc"]
	path = extern/luajit_tcc
	url = https://github.com/cyril0124/luajit_tcc
[submodule "extern/boost_unordered"]
	path = extern/boost_unordered
	url = https://github.com/MikePopoloski/boost_unordered.git
[submodule "luajit"]
	path = luajit
	url = https://github.com/LuaJIT/LuaJIT.git
