[submodule "extern/LuaBridge"]
	path = extern/LuaBridge
	url = https://github.com/vinniefalco/LuaBridge.git
[submodule "extern/LuaPanda"]
	path = extern/LuaPanda
	url = https://github.com/Tencent/LuaPanda.git
[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt.git
