.metals/
.vscode/
luajit2.1/
*/.nfs*
.nfs*
tmp/
shared/
scripts/rt_plot/*.out
build/
test/
/.xmake
.verilua/
vcpkg/
vcpkg_installed/
tmp/
*.log
result
FsdbReader
target/
tools/dpi_exporter
tools/testbench_gen
tools/signal_db_gen
tools/wave_vpi_*
luajit-pro
scripts/.xmake/linux