.metals/
.vscode/
*/.nfs*
.nfs*
.luajit_pro/
tmp/
shared/
build/
test/
/.xmake
.verilua/
conan_installed/
tmp/
*.log
result
FsdbReader
target/
tmp_lua_file_dir/
tmp_lua_lib_dir/
tools/dpi_exporter
tools/cov_exporter
tools/testbench_gen
tools/signal_db_gen
tools/wave_vpi_*
tools/verilua_prebuild
tools/nosim
scripts/.xmake/linux