name: Regression

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  changes:
    name: Changes Detection
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      has_changes: ${{ steps.filter.outputs.has_changes }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          predicate-quantifier: 'every'
          filters: .github/filters.yml

  test:
    runs-on: ${{ matrix.os }}
    needs: changes
    if: ${{ needs.changes.outputs.has_changes == 'true' && !contains(github.event.head_commit.message, '[skip-ci]') }}
    strategy:
      matrix:
        os: [ 'ubuntu-22.04' ]
        # os: [ 'ubuntu-22.04', 'ubuntu-24.04' ]
        verilator-version: [ 'v5.026', 'v5.032', 'v5.038', 'v5.042' ]
        iverilog-tag: [ 's20250103', 's20251012' ]
        # iverilog-tag: [ 's20250103', 'master' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: Setup verilua
        uses: ./.github/actions/setup-verilua
        with:
          runner-os: ${{ matrix.os }}
          verilator-version: ${{ matrix.verilator-version }}
          iverilog-tag: ${{ matrix.iverilog-tag }}

      - name: Test verilua (Basic test)
        run: |
          STOP_ON_FAIL=1 VERBOSE=1 xmake run test

      - name: Before upload artifact(package)
        if: ${{ matrix.verilator-version == 'v5.038' && matrix.iverilog-tag == 's20250103' }}
        run: |
          ARCH=$(uname -m)
          if [ "$ARCH" = "x86_64" ]; then ARCH="x64"; fi
          bash ./ci/package.sh ./artifact/verilua-${ARCH}-${{ matrix.os }}.zip
          echo "ARCH=${ARCH}" >> $GITHUB_ENV
      
      - name: Upload artifact
        if: ${{ matrix.verilator-version == 'v5.038' && matrix.iverilog-tag == 's20250103' }}
        uses: actions/upload-artifact@v4
        with:
          name: verilua-${{ env.ARCH }}-${{ matrix.os }}
          path: artifact

      - name: Install mill
        run: |
          curl -L https://github.com/com-lihaoyi/mill/releases/download/0.11.2/0.11.2 > mill
          chmod +x mill
          sudo mv mill /usr/local/bin
          which mill
          mill --version

      - name: Test verilua (NHL2)
        run: |
          git clone https://github.com/OpenXiangShan-Nanhu/NHL2.git

          cd NHL2
          echo "Current dir is: $(pwd)"
          ls -l

          export SIM=iverilog
          xmake run -P . init
          xmake build -P . Slice
          xmake build -P . TestSlice
          xmake run -P . TestSlice
          
# TODO: centos7, centos8
