name: Release

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}

    permissions:
      contents: write

    strategy:
      matrix:
        os: [ 'ubuntu-22.04', 'ubuntu-24.04' ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: Setup verilua
        uses: ./.github/actions/setup-verilua
        with:
          runner-os: ${{ matrix.os }}

      - name: Package
        run: |
          ARCH=$(uname -m)
          if [ "$ARCH" = "x86_64" ]; then ARCH="x64"; fi
          bash ./ci/package.sh $(pwd)/verilua-${ARCH}-${{ matrix.os }}.zip

      - name: Upload artifacts
        if: github.event_name == 'workflow_dispatch'
        uses: actions/upload-artifact@v4
        with:
          name: verilua-${{ matrix.os }}-zip
          path: "*.zip"
          retention-days: 30

      - name: Release
        if: github.event_name == 'push'
        uses: softprops/action-gh-release@v1
        with:
          name: "${{ github.ref_name }}"
          files: "*.zip"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

# TODO: centos7, centos8